
@media print { body { -webkit-print-color-adjust: exact; } }

#header{
  background-color: #313c4e;
}
body{
  
}
#name{
  font-size: 46px;
  
}

#image_holder{
  max-width: 160px;
  max-height: 160px;
  width: 160px;
  margin-right: 20px;
  margin-top: 32px;
}

#image_border{
  max-width: 220px;
  max-height: 220px;
  width: 160px;
  height: 160px;
  border-width: 6px;
  position: absolute;
  border-style: solid;
  overflow: hidden;
  border-radius: 50%;
  border-color: rgb(122, 128, 139);
  background-color: rgb(166 163 163);
}

#profile_image{
  width: 160px !important;
  height: 160px !important;
  max-width: 160px;
  background-color: #449399;
  border-color: #449399;
  border-radius: 50%;
  max-height: 160px;
  padding-left: 20px;
  border-width: 6px;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

#image{
  width:100%;
  height: 100%;
  background: url(/public/PassportSize.png) no-repeat;
  background-size: 100% 126%;
}

#position{
  font-size: 24px;
  color: #449399;
}

#header{
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

body{
  color: white;
}


#tagline{
  padding-left: 24px;
  padding-top: 16px;
  text-align: justify;
  padding-right: 200px;
}

#detail_tab{
  background-color: rgb(34, 42, 51);
}

.detail{
  width: 300px;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.skill{
  color: white;
  float: right;
  width: auto;
  background: #989da6;
  margin-left: 8px;
  margin-top: 8px;
  border: 2px solid #989da6;
  border-radius: 6px;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 12px;
}

#skills_tab{
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}

#interest_tab{
  padding-left: 24px;
  padding-right: 24px;
}

#languages_tab{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
}

.section_container{
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

#credits{
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  color:black;
}

.section_detail{
  color: black;
}
.sectionTitle{
  color: #449399;
  margin-left: 2px;
  text-decoration: underline;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}

.sectionMinTitle{
  font-size: 18px;
}

.customLink{
  color: white;
  text-decoration: none;
}

#work_details_tab{
  color: black;
  padding-left: 24px;
  padding-right: 24px;
}

.timeline{
  margin:0 !important;
  padding:0 !important;
}

.timeline-item-dateinner{
  background: #449399 !important;
  font-size: 10px !important;
  font-weight: normal !important;
  line-height: 32px !important;
  text-indent: 9px !important;
  height: 32px !important;
  width: 96% !important;
}

.timeline-item-date{
  top: 0 !important;
  height: 32px !important;
}
.timeline--wrapper{
  padding: 0 !important;
  padding-top: 8px !important;
  padding-left: 12px !important;
}

.entry .title{
  width: 140px !important;
}

.entry .body{
  width: 545px !important;
  margin: 0 !important;
}

.entry .title:before{
  top: 9px !important;
}

.timeline:before{
  left: 138px !important;
}

.timeline--wrapper h3{
  font-weight: bold;
}

.activity{
  text-align: justify;
}
.company_url{
  margin-left: 4px;
  color:black;
  font-size: 14px;
}
#languages_tab .skill {
  width: 180px;
  text-align: center;
  padding: 6px;
}

#languages_tab .skill:first-child {
  font-family: 'Anek Tamil', sans-serif;
}

.credits{
  font-size: 16px;
  margin-top: 8px;
}